@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menuOpen{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
.nMenuOpen{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}
.selectOpen{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
.selectClose{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

.nCardTypeHover1{
  clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);

}
.nCardTypeHover2{
  clip-path: polygon(0 0, 0 0, 100% 100%, 100% 100%);

}
.cardTypeHover1{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
.cardTypeHover2{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.blogShape{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 20% 81%, 0 80%);

}

.slick-slide > div {
  margin: 0 5px;
}

